/* Importaciones */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --notificacion-background: #313e2c;
  --notificacion-primary: #aaec8a;
  --background: #faf9ff;
  --main-color: #016dcb;
  --text-color: #020102;
  --bg-color: #fff;
}
.container {
  height: 110vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  column-gap: 30px;
}
.form {
  position: absolute;
  display: grid;
  max-width: 430px;
  width: 100%;
  padding: 30px;
  border-radius: 6px;
  background: var(--bg-color);
}
header {
  font-size: 28px;
  font-weight: 600;
  color: var(--text-color);
  text-align: center;
}
form {
  margin-top: 30px;
}
.form .field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 20px;
  border-radius: 6px;
}
.field input,
.field button {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
}
.field input {
  outline: none;
  padding: 0 15px;
  border: 1px solid black;
}
.field input:focus {
  border-bottom-width: 2px;
}
.form-content a:hover {
  text-decoration: underline;
}
.field button {
  display: inline-block;
  text-decoration: none;
  padding: 12px 34px;
  /* color: var(--text-color); */
  background: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: var(--bg-color);
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.5s;
  animation-delay: 2s;
  /* transition: all 0.3s ease; */
  /* cursor: pointer; */
}
.field button:hover {
  background: transparent;
  color: var(--main-color);
}
@media screen and (max-width: 400px) {
  .form {
    padding: 15px 10px;
  }
}
