/* Importaciones */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  /* --notificacion-background: #313e2c;
  --notificacion-primary: #aaec8a;
  --background: #faf9ff; */
  --main-color: #0171d3;
  --text-color: #020102;
  --bg-color: #fff;
}
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  column-gap: 30px;
}
.form {
  position: absolute;
  display: grid;
  max-width: 430px;
  width: 100%;
  padding: 30px;
  border-radius: 6px;
  background: var(--bg-color);
}
header {
  font-size: 28px;
  font-weight: 600;
  color: var(--text-color);
  text-align: center;
}
form {
  margin-top: 30px;
}
.form .field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 20px;
  border-radius: 6px;
}
.field input,
.field button {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
}
.field input {
  outline: none;
  padding: 0 15px;
  border: 1px solid black;
}
.field input:focus {
  border-bottom-width: 2px;
}
.eye-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #8b8b8b;
  cursor: pointer;
  padding: 5px;
}

.field button {
  color: var(--bg-color);
  background-color: var(--main-color);
  transition: all 0.3s ease;
  cursor: pointer;
}
.field button:hover {
  background-color: var(--main-color);
}
.form-link {
  text-align: center;
  margin-top: 10px;
}
.form-link span,
.form-link a {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color);
}
.form a {
  color: var(--main-color);
  text-decoration: none;
}
.form-content a:hover {
  text-decoration: underline;
}
.line {
  position: relative;
  height: 1px;
  width: 100%;
  margin: 30px 0;
  background-color: var(--bg-color);
}
.line::before {
  content: "O";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-color);
  color: #8b8b8b;
  padding: 0 15px;
}
.media-options a {
  display: flex;
  align-items: center;
  justify-content: center;
}
a.facebook {
  color: var(--bg-color);
  background-color: #4267b4;
}
a.facebook .facebook-icon {
  height: 28px;
  width: 28px;
  color: var(--main-color);
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
}
.facebook-icon,
img.google-img {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
img.google-img {
  height: 20px;
  width: 20px;
  object-fit: cover;
}
a.google {
  border: 1px solid #cacaca;
}
a.google span {
  font-weight: 500;
  opacity: 0.6;
  color: #232836;
}

@media screen and (max-width: 400px) {
  .form {
    padding: 15px 10px;
  }
}
/* Notificación
.notification {
  position: absolute;
  width: max-content;
  left: 0;
  right: 0;
  bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  background-color: var(--notificacion-background);
  color: var(--notificacion-primary);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(30px);
  opacity: 0;
  visibility: hidden;
  animation: fade-in 3s linear;
}
.notification_icon {
  height: 26px;
  width: 26px;
  margin-right: 4px;
}
.notification_body {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 8px;
}
.notification_progress {
  position: absolute;
  left: 4px;
  bottom: 4px;
  width: calc(100% - 8px);
  height: 3px;
  transform: scaleX(0);
  transform-origin: left;
  background: linear-gradient(
    to right,
    var(--notificacion-background),
    var(--notificacion-primary)
  );
  border-radius: inherit;
  animation: progress 2.5s 0.3s linear;
}
/* Animaciones para las transiciones */
/* @keyframes fade-in {
  5% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  95% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes progress {
  to {
    transform: scaleX(1);
  }
}  */
